* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.flex {
  display: flex;
  align-items: center;
}
.flex--column {
  flex-direction: column;
}
.header {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.7rem;
}
.card {
  background-color: rgb(255, 255, 255);
  height: 420px;
  width: 22rem;
  border-radius: 15px;
  padding: 1.5rem 0rem;
  margin: 1.5rem;
  font-size: 1.3rem;
}
.logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #e4e0e0;
  padding: .4rem;
}
.header-btn {
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  font-size: 0.95rem;
  gap: 0.3rem;
  color: #a9a8a8;
  border: 1px solid #c2c2c2;
}
button {
  background-color: #fff;
  border: none;
}
h3 {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
.main-top,
h2 {
  margin-bottom: 0.5rem;
}
.date-posted,
.location {
  color: #a9a8a8;
  font-size: 0.9rem;
}
h2 {
  font-size: 1.8rem;
}
.key-feature,
.type {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  background-color: #e4e0e0;
  margin-right: 0.5rem;
  border-radius: 5px;
}
.footer {
  margin-top: 7.7rem;
  padding: 1.5rem;
  border-top: 1px solid #e1dfdf;
  justify-content: space-between;
}
.header,
.main {
  margin-inline: 1.5rem;
}
.details {
  align-items: flex-start;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
.location {
  font-weight: 300;
}
.cta {
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 0.7rem 0.8rem;
  font-size: 0.9rem;
}
