* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.parent {
  justify-content: flex-start;
}
.flex--column {
  flex-direction: column;
}
